* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    background-color: red;
    color: yellow;
}

#head-1 
{
    text-align: center;
    color: yellow;

}

#header {
    display: grid;
}

#body {
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    text-align: center;
}

#text {
    color: black;
    text-align: center;
}

#review {
    color: black;
    text-align: center;
}
